<section class="about-section text-center">
  <div class="container">
    <div class="row"> 
      <div class="col-lg-4 my-0 mb-4 "><img class="img-fluid " src="/images/still cole.jpg" alt=""/></div>
      <div class="col-lg-8 mx-auto">
        <h2 class="text-black-100 ">Still Cole by CK.Sainvilus</h2>
        <p class="text-black-100 ">
          Is a YA fantice...
          <br>
          Join Cole on an epic quest....
          <br>
          "Quot form the Book goes here..."
        </p>
      </div>
  
        <div class="col-lg-8 mx-auto">
            <h2 class="text-black-100 mb-4"></h2>
            <p class="text-black-100">
              
            </p>
        </div>
    </div>
  </div>
</section> 