<div class="container">
    <h1 class="featured-text text-black-100 my-2  mb-4 text-center">Upcoming Novel</h1>


 <div class="row no-gutters mb-4">
    <div class="col-lg-3 order-lg-first ml-4 mr-4">
            <img class="img-fluid mt-1 mb-lg-4" src="/images/still cole.jpg" alt=""/>
    </div>
    <div class="col-lg-8 text-lg-center ">
        <p>
           Still Cole is a YA fantice...
           <br> 
           Join Cole on an epic quest....
           <br>
           "Quot form the Book goes here..."
        </p>
    </div> 
 </div> 
</div>