<!-- Masthead -->
<header class="masthead ">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Chanya Sainvilus</h1>
      <h2 class="text-black-50 mx-auto mt-2 mb-5">Writer, Lawer, Adventurer.</h2>
      <!-- <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a> -->
    </div>
  </div> 
</header>


<!-- <nav> -->
     <!-- <ul> 
       <li><a href="/">Empioneer</a></li>
       <li><a href="/authors/">Chanya</a></li> -->
       <!-- <li><a href="/authors/new">Add Author</a></li> -->
       <!-- <li><a href="/books">Books & Short Storys</a></li>
     </ul> -->
    <!-- </nav> -->