<header>
    <nav>
        <a href="/">Chanya</a>
        <url>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
        </url>
    </nav>

</header>