<!-- About  -->
  <section class="about-section text-center" id="about">
    <div class="container">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-black-100 mb-4">About the Author</h2>
            <!-- <hr class="d-none d-lg-block mb-0 mr-0" /> -->
        </div>
        <div class="row row-cols-3 justify-content-center">
            <div class="col-lg-8 mx-auto my-auto"><img class="img-fluid mb-3 " src="/images/peace.jpeg" alt="" /></div>
            <div class="col-lg-8 mx-auto">
                <!-- <h2 class="text-black-100 mb-4">About the Author</h2> -->
                <p class="text-black-100">
                    Hi my name is Chanya Sainvilus and I was born in ......
                </p>
            </div>
        </div>
          
    </div>
  </section>
  <!-- Projects-->
  <section class="projects-section bg-light" id="projects">
    <div class="container">
        <!-- Featured Project Row-->
        <!-- <div class="row align-items-center no-gutters mb-4 mb-lg-5"> -->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
                <a href="/books">
                    <img class="img-fluid mb-3 mb-lg-0" src="/images/still cole.jpg" alt=""/>
                </a>
            </div>
            <div class="col-lg-6 order-lg-first">
                <!-- <div class="featured-text text-center text-lg-left"></div> -->
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Still Cole</h4>
                            <p class="text-white mb-0">An instante classic si-fi Fantace Explore this new world with Cole</p>
                            <hr class="d-none d-lg-block mb-0 mr-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <!-- Project One Row-->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid " src="/images/jason-briscoe-iFMbwfuYvS8-unsplash.jpg" alt="" /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Coding for Women</h4>
                            <p class="mb-0 text-white">Zoom Meeting this March 8 2021</p>
                            <hr class="d-none d-lg-block mb-0 ml-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- Signup-->
  <section class="signup-section" id="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-black-50 mb-5">Subscribe to receive updates!</h2>
                <form class="form-inline d-flex">
                    <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email" placeholder="Enter email address..." />
                    <button class="btn btn-primary mx-auto" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
  </section>
  <!-- Contact-->
  <section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Location</h4>
                        <hr class="my-4" />
                        <div class="small text-black-100">New York</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4" />
                        <div class="small text-black-100"><a href="#!">Chanya@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4" />
                        <div class="small text-black-100">(404)-542-4952</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
