:root {
    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;
    --header-img-width: 100%;
    --header-img-width-large: 700px;
    --header-img-aspect-ratio: 0.75;
    --header-img-height: 250px;
    --color-header-background: hsl(var(--color-base-hue), 100%, 83%);
}
  
.header-title {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: var(--nav-title-font-size);
    font-weight: var(--nav-title-font-weight);
}
  
.header-nav {
    display: flex;
    align-items: center;
    margin-bottom: 2rem; 
    background-size: 100%;
    flex-wrap: wrap;
    border-bottom: solid white;
    justify-content: stretch;
    /* justify-content: space-between; */
    /* position: relative;
    grid-auto-flow: column;
    grid-template-columns: auto; */
}
  
.header-nav ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
  
.header-nav li {
    list-style: none;
}
  
.header-nav li a {
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: var(--nav-link-font-weight);
    padding: 1rem;
}
  
.header-nav li a:hover, .header-title:hover {
    color: rgb(221, 161, 82);
}

.header-img {
    width: var(--header-img-width);
    height: var(--header-img-height);
}

.header-img-large {
      --header-img-width: var(--header-img-width-large);
}
